apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: worker
    tier: front
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  strategy: {}
  template:
    metadata:
      labels:
        app: worker
        tier: front
    spec:
      containers:
      - image: docker.io/schoolofdevops/worker:latest
        name: worker
